image:
  repository: multinic-operator
  tag: "1.0.0"
  pullPolicy: IfNotPresent
  pullSecrets: []

namespace:
  create: false
  name: ""

serviceAccount:
  create: true
  name: ""

rbac:
  create: true
  userRoles: false

inventory:
  enabled: true
  addr: ":18081"
  dbPath: "/var/lib/multinic-operator/inventory.json"
  service:
    enabled: true
    port: 18081

operatorConfig:
  violaEndpoint: ""
  violaTimeout: "30s"
  violaInsecureTLS: "false"

persistence:
  enabled: false
  existingClaim: ""
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  size: 1Gi

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - "ALL"

nodeSelector: {}
tolerations: []
affinity: {}
